main{
  display: flex;
  flex-direction: column;

  h2{
    text-align: center;
  }
  span{
    padding: 10px;
  }
  div{
    display: flex;
    justify-content: center;
  }
  img{
    width: 500px;
  }
 
}

