footer {
  background-color:$background-principal;
  height: 7rem;
  display: flex;
  justify-content: center;
align-items: center;
.contenedor{
  display: flex;
}
p{
  font-size: 1.5rem;
  color: white;
  padding: 1rem;
}
a{
 
  color: white;
  text-decoration: none;
}
svg{
  width: 30px;
  height: 30px;
}
}